/* *********** Chalé Hotel CSS ************ */


/* ******* #INICIO - CONFIGURAÇÃO RESET ******* */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #fff url(../imagens/bg.png);
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

fieldset {
    padding: 15px;
    border: 1px solid;
    border-color: #b5ab56;
    width: 100%;
}

textarea {
    width: 100%;
}


/** Formatando Texto **/

h2 {
    color: #7d7640;
    font-size: 1.1em;
    padding: 5px 0px;
}

p {
    font-size: 1em;
    margin-bottom: 10px;
}


/** Formatando Texto **/


/* ******* #FIM - CONFIGURAÇÃO RESET ******* */


/* ******* #INICIO - CONFIGURAÇÃO CONTAINER ******* */

#container {
    background: #ede9cc url(../imagens/bg-container.png) top center repeat-y;
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180px;
}


/* ******* #FIM - CONFIGURAÇÃO CONTAINER ******* */


/* ******* #INICIO - CONFIGURAÇÃO TOPO ******* */

.navbar {
    position: relative;
    background: #decd87;
    height: 15.4em;
    min-height: 250px;
}

.logo a {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
    background: url(../imagens/logo.png) no-repeat;
    width: 151px;
    height: 66px;
    text-indent: -3000px;
}

#area-logo {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../imagens/topo-imagem-principal.png) no-repeat;
    width: 100%;
    height: 250px;
    z-index: 1;
}


/* ****** ÁREA MENU ******* */

#area-menu {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../imagens/topo-imagem-lateral.png) no-repeat;
    ;
    width: 450px;
    height: 250px;
    z-index: 2;
}

#conteudo-menu {
    margin-left: 90px;
    margin-right: 15px;
    padding-top: 15px;
}

#menu-locais {
    border-bottom: 1px solid #b5ab56;
    border-top: 1px solid #b5ab56;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 0.8em;
}

#menu-locais ul {
    color: #8b8448;
    float: left;
    margin-bottom: auto;
    padding-top: 5px;
}

ul#locais li {
    display: inline;
}

ul#locais li a {
    color: #8b8448;
}

a.reserva {
    text-transform: uppercase;
    background: #a29750;
    color: #fff5b0;
    padding: 5px 10px;
    float: right;
}


/* ******* ÁREA MENU ******* */


/* ******* MENU VERTICAL ******* */

ul#navegacao {
    float: left;
}

ul#navegacao a {
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 5px;
    color: #6e672c;
    line-height: 30px;
}

ul#navegacao a:hover {
    background: #fdf6be;
}

body.home #container #topo ul#navegacao li a#home,
body.historia #container #topo ul#navegacao li a#historia,
body.imprensa #container #topo ul#navegacao li a#imprensa,
body.gastronomia #container #topo ul#navegacao li a#gastronomia,
body.contato #container #topo ul#navegacao li a#contato {
    background: #a29750;
    text-decoration: underline;
}

.depoimento {
    width: 226px;
    height: 164px;
    right: right;
}


/* ******* #FIM - CONFIGURAÇÃO TOPO ******* */


/* ******* #INICIO - ÁREA DE CONTEUDO ******* */

#area-principal {
    float: left;
    width: 50%;
    background: #ede9cc url(../imagens/bg-area-principal.png) top left repeat-x;
    padding: 15px 0px;
}

#area-lateral {
    float: right;
    width: 50%;
    background: #dcd8b7 url(../imagens/bg-area-lateral.png) top left repeat-x;
    padding: 20px 0px;
}

ul#lista-conteudo {
    height: 100%;
}

#lista-conteudo li {
    padding: 8px;
    border-bottom: 1px solid #f3efcb;
    height: auto;
}

#lista-conteudo li a img {
    float: left;
    margin-right: 8px;
}

#lista-conteudo li a p {
    color: #000;
    font-size: 0.8em;
}

#lista-conteudo li a h3 {
    font-size: 1em;
    color: #615b2d;
    padding: 5px 0;
    background: url(../imagens/ornamento.png) no-repeat center right;
}

#lista-conteudo li:hover {
    background: #f6f5d6;
    cursor: pointer;
}

#lista-conteudo li:last-child {
    border-bottom: none;
}

.conteudo {
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

.conteudo-contato {
    margin: 0 auto;
    width: 90%;
    height: 100%;
}


/* ******* #FIM - ÁREA DE CONTEUDO ******* */


/* ******* #INICIO - ÁREA DE RODAPÉ ******* */

.row-rodape {
    background: #dbd294;
}

.menu-rodape {
    margin: 20px 0;
}

.depo-rodape {
    margin: 20px 0;
}

footer .menu-rodape ul#navegacao {
    padding: 0;
}

footer .menu-rodape ul#navegacao li {
    width: 50%;
    display: inline-block;
    margin: 0 auto 5px auto;
}

footer .menu-rodape ul#navegacao li a {
    font-size: 1em;
    padding: 5px 30px 5px 0;
    background: url(../imagens/ornamento.png) no-repeat center right;
}

footer .menu-rodape ul#navegacao a span {
    padding: 5px;
}

footer .menu-rodape ul#navegacao a span:hover {
    background: #fdf6be;
}

.img-depo-rodape {
    margin-bottom: 5px;
}

#rodape {
    clear: both;
    height: auto;
    background: #fff url(../imagens/bg-rodape.png) repeat-x top;
    color: #7d7640;
    text-align: center;
}

#rodape .copy {
    display: flex;
    height: 80%;
    margin: 15px auto;
}

footer .copy span {
    align-self: center;
    margin-right: 20px;
}


/* ******* #FIM - ÁREA DE RODAPÉ ******* */


/* ******* #INICIO - PÁGINA CONTATO ******* */

body.contato div#container section div.row {
    margin: 0;
}

body.contato #area-lateral {
    padding: 15px 0;
}

body.contato .conteudo h2 {
    font-size: 1.5em;
    text-align: center;
    margin-top: 10px;
}

body.contato .conteudo-contato h2 {
    font-size: 1.5em;
    text-align: center;
    margin-top: 10px;
}

body.contato #area-lateral form#lista-conteudo h3 {
    font-size: 1em;
    color: #615b2d;
    padding: 5px 0;
    margin: 0 5px;
    background: url(../imagens/ornamento.png) no-repeat center right;
}

body.contato #area-principal .conteudo div {
    margin: 0 auto;
    width: 100%;
}

body.contato #area-lateral form#lista-conteudo label {
    margin-bottom: 5px;
}

body.contato #area-lateral form#lista-conteudo input {
    padding: 10px;
    border: 2px solid #a29750;
    margin: 0 0 15px 0;
    width: 100%;
    line-height: 30px;
    background: #ede9cc;
    color: #a29750;
}

body.contato #area-lateral form#lista-conteudo input[type="submit"] {
    text-transform: uppercase;
    width: 70%;
    border-radius: 10px;
    background: #a29750;
    color: #fff5b0;
    padding: 5px 10px;
    margin: 10px 0 0 0;
}

body.contato #area-lateral form#lista-conteudo input::placeholder {
    margin: 5px;
    font-size: 1em;
    color: #a29750;
}

body.contato #area-lateral form#lista-conteudo textarea::placeholder {
    margin: 5px;
    font-size: 1em;
    color: #a29750;
}

body.contato #area-lateral form#lista-conteudo textarea {
    padding: 5px;
    line-height: 30px;
    background: #ede9cc;
    border: 2px solid #a29750;
    color: #a29750;
}

textarea:focus,
input:focus {
    border-color: 2px solid #a29750 !important;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}


/* ******* #FIM - PÁGINA CONTATO ******* */


/* ******* #INICIO - PÁGINA RESERVA ******* */

#container-reserva {
    background: #ede9cc;
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180px;
}

#principal-uma-coluna {
    margin: 30px 0;
}

.conteudo-reserva {
    width: 100%;
    padding: 0 0;
}

#area-reserva {
    padding: 0;
}

#principal-uma-coluna div #area-reserva #formulario-reserva div.row {
    margin: 0 0 20px 0;
    padding: 0 0;
    width: 100%;
}

#principal-uma-coluna div #area-reserva form#formulario-reserva div .item-form {
    padding: 0;
}

#principal-uma-coluna div #area-reserva #formulario-reserva .row .item-form input {
    width: 98%;
}

#principal-uma-coluna div #area-reserva #formulario-acomodacao .row {
    margin: 0 0 20px 0;
    padding: 0 0;
    width: 100%;
}

#principal-uma-coluna div #area-reserva #formulario-acomodacao div.row .item-form {
    padding: 0 0;
}

#principal-uma-coluna div #area-reserva #formulario-acomodacao div.row .item-modificado {
    width: 130px;
}

#principal-uma-coluna div #area-reserva #formulario-acomodacao div.row .item-form input {
    width: 100px;
}

select {
    width: 240px;
}

#principal-uma-coluna div #area-reserva #formulario-acomodacao .texto-reserva {
    padding: 0;
}

#principal-uma-coluna div #area-reserva #formulario-acomodacao div textarea#mensagem {
    width: 100%;
}

#principal-uma-coluna div #area-reserva #formulario-acomodacao div textarea#mensagem::placeholder {
    padding: 15px;
    font-size: 1em;
}


/* ******* #FIM - PÁGINA RESERVA ******* */